lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.*.swp

pids
logs
results

.coverage_data
cover_html

npm-debug.log
node_modules

config/development.js
config/production.js
config/staging.js

.env.*
