extends ../application.jade

block content
    div.login
      div.logo(style="font-family: 'Bigelow Rules', cursive; font-size: 72px;")= site.name
      form(method="post")
          div.username
              span.icon-user
              input(name="username", type="text", value=(user.username || ""), autofocus, placeholder="Username")
          div.password
              span.icon-lock
              input(name="password", type="password", placeholder="Password")
          input(name="submit", type="submit")
  
      a(href="/users/new") New User?
