extends ../application.jade

block content
  div.column
    
    div.login
      h1
        span.icon-user3.icon
        = site.name
      form(method="post")
        div.inputs
          div.username
            input(name="username", type="text", value=(user.username || ""), autofocus, placeholder="Username")
          div.password
            input(name="password", type="password", placeholder="Password")
        input(name="submit", type="submit", value="Login").submit.button
  
    div#new-user
      a(href="/users/new") 
        h3 New User?
