extends ../application.jade

block content
    div.logo(style="font-family: 'Bigelow Rules', cursive; font-size: 72px;") Konquest
    p Login Form
    form(method="post")
        div.username
            span Username
            input(name="username", type="text", value=(user.username || ""), autofocus)
        div.password
            span Password
            input(name="password", type="password")
        input(name="submit", type="submit")
        
    a(href="/users/new") New User?
    