@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
	content: "\e600";
}
.icon-lock:before {
	content: "\e601";
}
.icon-unlocked:before {
	content: "\e602";
}
.icon-settings:before {
	content: "\e603";
}
.icon-equalizer:before {
	content: "\e604";
}
.icon-cog:before {
	content: "\e605";
}
.icon-cogs:before {
	content: "\e606";
}
.icon-cog2:before {
	content: "\e607";
}
.icon-spinner:before {
	content: "\e608";
}
.icon-spinner2:before {
	content: "\e609";
}
.icon-spinner3:before {
	content: "\e60a";
}
.icon-spinner4:before {
	content: "\e60b";
}
.icon-spinner5:before {
	content: "\e60c";
}
.icon-user2:before {
	content: "\e60d";
}
.icon-accessibility:before {
	content: "\e60e";
}
.icon-target:before {
	content: "\e60f";
}
.icon-lightning:before {
	content: "\e610";
}
.icon-screen:before {
	content: "\e611";
}
.icon-laptop:before {
	content: "\e612";
}
.icon-mobile:before {
	content: "\e613";
}
.icon-mobile2:before {
	content: "\e614";
}
.icon-tablet:before {
	content: "\e615";
}
.icon-drawer:before {
	content: "\e616";
}
.icon-drawer2:before {
	content: "\e617";
}
.icon-pushpin:before {
	content: "\e618";
}
.icon-envelope:before {
	content: "\e619";
}
.icon-address-book:before {
	content: "\e61a";
}
.icon-redo:before {
	content: "\e61b";
}
.icon-undo:before {
	content: "\e61c";
}
.icon-bubble:before {
	content: "\e61d";
}
.icon-bubbles:before {
	content: "\e61e";
}
.icon-bubbles2:before {
	content: "\e61f";
}
.icon-spinner6:before {
	content: "\e620";
}
.icon-happy:before {
	content: "\e621";
}
.icon-happy2:before {
	content: "\e622";
}
.icon-smiley:before {
	content: "\e623";
}
.icon-smiley2:before {
	content: "\e624";
}
.icon-tongue:before {
	content: "\e625";
}
.icon-tongue2:before {
	content: "\e626";
}
.icon-sad:before {
	content: "\e627";
}
.icon-sad2:before {
	content: "\e628";
}
.icon-wink:before {
	content: "\e629";
}
.icon-wink2:before {
	content: "\e62a";
}
.icon-grin:before {
	content: "\e62b";
}
.icon-wondering:before {
	content: "\e62c";
}
.icon-wondering2:before {
	content: "\e62d";
}
.icon-neutral:before {
	content: "\e62e";
}
.icon-neutral2:before {
	content: "\e62f";
}
.icon-confused:before {
	content: "\e630";
}
.icon-confused2:before {
	content: "\e631";
}
.icon-shocked:before {
	content: "\e632";
}
.icon-shocked2:before {
	content: "\e633";
}
.icon-evil:before {
	content: "\e634";
}
.icon-evil2:before {
	content: "\e635";
}
.icon-angry:before {
	content: "\e636";
}
.icon-angry2:before {
	content: "\e637";
}
.icon-cool:before {
	content: "\e638";
}
.icon-grin2:before {
	content: "\e639";
}
.icon-cool2:before {
	content: "\e63a";
}
.icon-list:before {
	content: "\e63b";
}
.icon-list2:before {
	content: "\e63c";
}
.icon-numbered-list:before {
	content: "\e63d";
}
.icon-remove:before {
	content: "\e63e";
}
.icon-remove2:before {
	content: "\e63f";
}
.icon-google:before {
	content: "\e640";
}
.icon-google-plus:before {
	content: "\e641";
}
.icon-google-plus2:before {
	content: "\e642";
}
.icon-google-plus3:before {
	content: "\e643";
}
.icon-google-plus4:before {
	content: "\e644";
}
.icon-twitter:before {
	content: "\e645";
}
.icon-twitter2:before {
	content: "\e646";
}
.icon-twitter3:before {
	content: "\e647";
}
.icon-facebook:before {
	content: "\e648";
}
.icon-facebook2:before {
	content: "\e649";
}
.icon-facebook3:before {
	content: "\e64a";
}
.icon-google-drive:before {
	content: "\e64b";
}
.icon-vimeo:before {
	content: "\e64c";
}
.icon-dribbble:before {
	content: "\e64d";
}
.icon-forrst:before {
	content: "\e64e";
}
.icon-blogger:before {
	content: "\e64f";
}
.icon-tumblr:before {
	content: "\e650";
}
.icon-tumblr2:before {
	content: "\e651";
}
.icon-yahoo:before {
	content: "\e652";
}
.icon-paypal:before {
	content: "\e653";
}
.icon-paypal2:before {
	content: "\e654";
}
.icon-pinterest:before {
	content: "\e655";
}
.icon-pinterest2:before {
	content: "\e656";
}
.icon-tux:before {
	content: "\e657";
}
.icon-finder:before {
	content: "\e658";
}
.icon-windows8:before {
	content: "\e659";
}
.icon-windows:before {
	content: "\e65a";
}
.icon-android:before {
	content: "\e65b";
}
.icon-github:before {
	content: "\e65c";
}
.icon-github2:before {
	content: "\e65d";
}
.icon-steam:before {
	content: "\e65e";
}
.icon-forrst2:before {
	content: "\e65f";
}
.icon-deviantart:before {
	content: "\e660";
}
.icon-deviantart2:before {
	content: "\e661";
}
.icon-vimeo2:before {
	content: "\e662";
}
.icon-vimeo3:before {
	content: "\e663";
}
.icon-instagram:before {
	content: "\e664";
}
.icon-skype:before {
	content: "\e665";
}
.icon-reddit:before {
	content: "\e666";
}
.icon-linkedin:before {
	content: "\e667";
}
.icon-lastfm:before {
	content: "\e668";
}
.icon-lastfm2:before {
	content: "\e669";
}
.icon-delicious:before {
	content: "\e66a";
}
.icon-stumbleupon:before {
	content: "\e66b";
}
.icon-paypal3:before {
	content: "\e66c";
}
.icon-chrome:before {
	content: "\e66d";
}
.icon-firefox:before {
	content: "\e66e";
}
.icon-IE:before {
	content: "\e66f";
}
.icon-opera:before {
	content: "\e670";
}
.icon-safari:before {
	content: "\e671";
}
.icon-xing:before {
	content: "\e672";
}
.icon-xing2:before {
	content: "\e673";
}
.icon-flattr:before {
	content: "\e674";
}
.icon-soundcloud:before {
	content: "\e675";
}
.icon-soundcloud2:before {
	content: "\e676";
}
.icon-blogger2:before {
	content: "\e677";
}
.icon-flickr:before {
	content: "\e678";
}
.icon-picassa:before {
	content: "\e679";
}
.icon-picassa2:before {
	content: "\e67a";
}
.icon-dribbble2:before {
	content: "\e67b";
}
.icon-dribbble3:before {
	content: "\e67c";
}
.icon-github3:before {
	content: "\e67d";
}
.icon-github4:before {
	content: "\e67e";
}
.icon-wordpress:before {
	content: "\e67f";
}
.icon-wordpress2:before {
	content: "\e680";
}
.icon-joomla:before {
	content: "\e681";
}
.icon-github5:before {
	content: "\e682";
}
.icon-stackoverflow:before {
	content: "\e683";
}
.icon-stumbleupon2:before {
	content: "\e684";
}
.icon-foursquare:before {
	content: "\e685";
}
.icon-foursquare2:before {
	content: "\e686";
}
.icon-yelp:before {
	content: "\e687";
}
.icon-new-tab:before {
	content: "\e688";
}
.icon-mail:before {
	content: "\e689";
}
.icon-mail2:before {
	content: "\e68a";
}
.icon-mail3:before {
	content: "\e68b";
}
.icon-mail4:before {
	content: "\e68c";
}
.icon-checkbox-checked:before {
	content: "\e68d";
}
.icon-checkbox-unchecked:before {
	content: "\e68e";
}
.icon-checkbox-partial:before {
	content: "\e68f";
}
.icon-radio-checked:before {
	content: "\e690";
}
.icon-radio-unchecked:before {
	content: "\e691";
}
.icon-cancel-circle:before {
	content: "\e692";
}
.icon-checkmark-circle:before {
	content: "\e693";
}
.icon-spam:before {
	content: "\e694";
}
.icon-close:before {
	content: "\e695";
}
.icon-checkmark:before {
	content: "\e696";
}
.icon-blocked:before {
	content: "\e697";
}
.icon-info:before {
	content: "\e698";
}
.icon-info2:before {
	content: "\e699";
}
.icon-question:before {
	content: "\e69a";
}
.icon-notification:before {
	content: "\e69b";
}
.icon-point-left:before {
	content: "\e69c";
}
.icon-checkmark2:before {
	content: "\e69d";
}
.icon-spell-check:before {
	content: "\e69e";
}
.icon-enter:before {
	content: "\e69f";
}
.icon-exit:before {
	content: "\e6a0";
}
