extends ../application.jade

block content
    each user in users
        div.user
            h2
                = user.username
                each role in user.roles
                    span.small= role