* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  background: lightslategray;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0.5em 0 0.25em 0;
}

h1 { 
  font-size: 5em;
  text-shadow: 0px 5px 2px black;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 3em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.5em;
}

.navgiation {
  list-style: none;
}

.login {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}


.login-image {
  font-size: 7em;
  margin: auto;
  margin-bottom: 20px;
  width: 1em;
  height: 1em;  
  border-radius: 100%;
  padding: 5px;
  box-sizing: content-box;
}

.login-image:hover {
  background: white;
  color: lightslategray;
}

.inputs {
  width: 70%;
  display: inline-block;
}

.inputs input {
  width: 90%;
  display: inline-block;
  margin-left: 1em;
  padding-left: 1em;
}

.submit {
  width: 30%;
  float: right;
  border: 1px solid lightgrey;
  color: darkgray;
  font-size: 2em;
  font-weight: bold;
  border-radius: 5px;
  line-height: 1.6em;  
}

.submit:hover {
  cursor: pointer;
}

@media (min-width: 680px) {
  .login {
    width: 55%;
  }
}       
@media (min-width: 1024px) {
  .login {
    width: 35%;
  }
}       

@media (min-width: 1440px) {
  .login {
    width: 25%;
  }
}

