header
  ul#menu.menu-main
    li.menu-main-item
      a(href="/") Home
    if currentUser
      li.menu-main-item
        a(href="/").icon-notification
    li.menu-trigger.menu-main-item
      a.icon-menu2
      nav.menu-wrapper
        div.gn-scroller
          ul.menu
            if currentUser
              li
                a(href="/users/" + currentUser.username).icon-user My Profile
              li
                a(href="/").icon-settings Settings
              li
                a(href="/").icon-notification Notifications
              li
                a(href="/session/logout").icon-enter Sign Out
            else
              li
                a(href="/session").icon-exit Login
    
    