!!! 5
html
    head
        meta(charset='utf-8')
        title Konquest
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        //link(rel='stylesheet', href='/public/stylesheets/all.css')
        // include ./includes/stability.jade
    body
        // include ./includes/ribbon.jade
        .container
            // include ./includes/header.jade
            block content
        // script(src='/client.js')
        // include ./includes/ga.jade